* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --orange: hsl(26, 100%, 55%);
  --pale-orange: hsl(25, 100%, 94%);
  --very-dark-blue: hsl(220, 13%, 13%);
  --dark-grayish-blue: hsl(219, 9%, 45%);
  --grayish-blue: hsl(220, 14%, 75%);
  --light-grayish-blue: hsl(223, 64%, 98%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%); /* with 75% opacity for lightbox background */
}

body {
  font-family: "Kumbh Sans", sans-serif;
  min-height: 100dvh;
}

/* NAV */

nav {
  font-size: 16px;
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 80px;
}

.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75%;
  height: 90px;
  border-bottom: 2px solid var(--light-grayish-blue);
}

.nav-links {
  display: flex;
  list-style: none;
  width: 100%;
  padding-left: 60px;
  gap: 30px;
  height: 100%;
}

.nav-link {
  color: var(--dark-grayish-blue);
  text-decoration: none;
  display: flex;
  align-items: center;
  height: 100%;
}

.nav-link.selected {
    border-bottom: 4px solid var(--orange);
    color: var(--very-dark-blue);
}

.nav-link:hover {
  color: var(--very-dark-blue);
}

.logo {
  object-fit: contain;
}

.profile-container {
  display: flex;
  align-items: center;
  gap: 50px;
}

.avatar {
  width: 50px;
  height: 50px;
  object-fit: cover;
  cursor: pointer;
}

.avatar:hover {
    border: 2px solid var(--orange);
    border-radius: 50%;
}

.menu-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3px;
  display: none;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.cart-icon-container {
    position: relative;
    display: flex;
    align-items: center;
}

.cart-item-count {
    position: absolute;
    top: -8px;
    left: 10px;
    background-color: var(--orange);
    color: var(--white);
    width: 20px;
    height: 16px;
    border-radius: 20px;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    display: none;
}

.cart-icon {
    cursor: pointer;
    transition: filter 0.3s ease-in-out;
}

.cart-icon:hover {
    filter: brightness(0.4);
}


/* Mobile Menu */

.mobile-overlay {
  position: fixed;
  top: 0;
  left: 60%;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 1;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.mobile-menu {
  position: fixed;
  height: 100%;
  width: 60%;
  background-color: var(--white);
  padding: 25px 30px;
  justify-content: space-evenly;
  align-items: center;
  z-index: 10;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.mobile-menu.show {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.4s ease, visibility 0.4s ease;
}

.mobile-menu-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.mobile-nav-links {
  display: flex;
  flex-direction: column;
  gap: 30px;
  list-style: none;
}

.close-menu {
  cursor: pointer;
  width: 20px;
  height: 20px;
  object-fit: contain;
  transition: filter 0.3s ease-in-out, transform 0.5s ease-in-out;
}

.close-menu:hover {
  filter: brightness(0.4);
  transform: rotate(180deg);
}

.mobile-nav-link {
  color: var(--very-dark-blue);
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
}


/* Cart */

.cart-container {
  position: fixed;
  top: 17%;
  right: 10%;
  width: 370px;
  min-height: 240px;
  max-height: fit-content;
  max-width: 90dvw;
  display: flex;
  flex-direction: column;
  z-index: 10;
  background-color: var(--white);
  border-radius: 10px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
  transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s ease;
}

.cart-container.show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.cart-header {
    border-bottom: 2px solid var(--light-grayish-blue);
    height: 60px;
}

.cart-title {
    font-size: 18px;
    padding-top: 12px;
    padding-left: 25px;
    color: var(--very-dark-blue); 
}

.cart-body {
    min-height: 170px;  
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.cart-message {
    font-size: 16px;
    color: var(--dark-grayish-blue);
    font-weight: 800;
}

.cart-item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    display: none
}

.cart-image {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 6px;
}

.cart-item-details {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.cart-item-name {
    font-size: 16px;
    color: var(--dark-grayish-blue);
}

.cart-item-price {
    font-size: 16px;
    color: var(--dark-grayish-blue);
}

.cart-item-total {
    font-size: 16px;
    color: var(--very-dark-blue);
    font-weight: 700;
}

.remove-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-weight: 700;
}

.remove-icon {
    transition: filter 0.3s ease-in-out;
}

.remove-icon:hover {
    filter: brightness(0.4);
}

.checkout-button {
    background-color: var(--orange);
    color: var(--very-dark-blue);
    border: none;
    cursor: pointer;
    padding: 18px 0;
    font-size: 16px;
    font-weight: 700;
    width: 318px;
    border-radius: 10px;
    transition: background-color 0.3s ease;
    display: none;
    font-family: "Kumbh Sans", sans-serif;
}

.checkout-button:hover {
    background-color: hsla(26, 100%, 55%, 0.6);
}

/* MAIN */

main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 100px;
}

.product-details {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.image-gallery {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: 30px;
}

.image-container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-image {
  width: 400px;
  height: 400px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 30px;
  cursor: pointer;
}

.previous-button,
.next-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    background-color: var(--white);
    display: none;
}

.previous-button {
  left: 15px;
}

.next-button {
  right: 15px;
}

.previous-icon, .next-icon {
    width: 15px;
    height: 15px;
    object-fit: contain;
}

.previous-icon {
    margin-right: 2px;
    margin-top: 3px;
}

.next-icon {
    margin-left: 2px;
    margin-top: 3px;
}

.thumbnail-container {
  width: 66%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.thumbnail-wrapper, .thumbnail-wrapper-lightbox {
  border: 2px solid transparent;
  border-radius: 8px;
  width: 82px;
  height: 81px;
}

.thumbnail-wrapper.selected, .thumbnail-wrapper-lightbox.selected {
  border: 2px solid var(--orange);
}

.thumbnail {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease;
}

.thumbnail-wrapper.selected .thumbnail, .thumbnail-wrapper-lightbox.selected .thumbnail {
  opacity: 0.2;
}


.thumbnail:hover {
  opacity: 0.5;
}

/* Product info */

.product-info {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

h1 {
  font-size: 12px;
  letter-spacing: 1.5px;
  color: var(--dark-grayish-blue);
  margin-bottom: 10px;
}

h2 {
  font-size: 38px;
  font-weight: 800;
  color: var(--very-dark-blue);
  margin-bottom: 25px;
  width: 80%;
}

.product-description {
  font-size: 15px;
  color: var(--dark-grayish-blue);
  margin-bottom: 15px;
  width: 80%;
  font-weight: 400;
  line-height: 1.5;
}

.current-price {
  font-size: 28px;
  font-weight: 700;
  color: var(--very-dark-blue);
}

.discount {
  font-size: 14px;
  margin-left: 14px;
  background-color: var(--black);
  color: var(--white);
  padding: 3px 8px;
  border-radius: 5px;
  font-weight: 600;
}

.original-price-container {
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 30px;
}

.original-price {
  font-size: 15px;
  color: var(--dark-grayish-blue);
  text-decoration: line-through;
  font-weight: 700;
}

/* Buttons */

.buttons-container {
  display: flex;
  align-items: center;
  gap: 15px;
}

.quantity-button-container {
  background-color: var(--light-grayish-blue);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 30px;
  border-radius: 8px;
  width: 161px;
}

.quantity-button {
  background-color: var(--light-grayish-blue);
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quantity-number {
  font-size: 14px;
  color: var(--very-dark-blue);
  font-weight: 700;
}

.add-to-cart {
  display: flex;
  justify-content: center;
  background-color: var(--orange);
  color: var(--very-dark-blue);
  border: none;
  cursor: pointer;
  gap: 10px;
  font-size: 14px;
  padding: 18px 60px;
  border-radius: 8px;
  font-weight: 700;
  transition: background-color 0.3s ease;
}

.cart-icon-button {
  width: 15px;
  height: 15px;
  color: var(--black);
}

.add-to-cart:hover {
    background-color: hsla(26, 100%, 55%, 0.6);
}

.quantity-button img{
    transition: opacity 0.3s ease;
}

.quantity-button img:hover {
    opacity: 0.5;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/* Lightbox */

.lightbox-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
  transition: opacity 0.3s ease, transform 0.3s ease,
  visibility 0.3s ease;
}

.lightbox-container.show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition: opacity 0.4s ease, transform 0.4s ease;
}

.lightbox-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 2;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.thumbnail-container-lightbox {
  display: flex;
  justify-content: space-evenly;
}

.modal-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.image-slide {
  width: 450px;
  height: 450px;
  object-fit: cover;
  margin: 0 auto;
  border-radius: 10px;
}

.close-menu.mobile {
  position: absolute;
  filter: brightness(6);
  cursor: pointer;
  left: 205px;;
  top: -20px;
}

.slide {
  position: relative;
}

.previous-button.lightbox, .next-button.lightbox {
    top: 51%;
    display: flex;
    width: 50px;
    height: 50px;
}

.previous-button.lightbox {
  left: -22px;
}

.next-button.lightbox {
  right: -22px;
}

.thumbnail-wrapper-lightbox {
  border-radius: 8px;
  width: 71px;
  height: 71px;
}

.thumbnail.lightbox {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 8px;
  cursor: pointer;
}

/* MEDIA QUERIES */

@media screen and (max-width: 1220px) {

  .product-details {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .image-gallery {
    flex-direction: row;
    align-items: start;
    gap: 40px;
  }

  .thumbnail-container {
    flex-direction: column;
    width: 100%;
    align-items: start;
    gap: 27px;
  }

  .thumbnail-wrapper {
    display: flex;
    justify-content: start;
    align-items: start;
  }

  .product-description {
    width: 60%;
  }

  .buttons-container {
    flex-direction: column;
    align-items: start;
    gap: 20px;
  }

  .quantity-button-container {
    width: 530px;
  }

  .add-to-cart {
    width: 530px;
  }
}

@media screen and (max-width: 1024px) {
  .nav-container {
    width: 100%;
    padding: 0 40px;
  }
}

@media screen and (max-width: 840px) {
  .menu-button {
    display: flex;
  }

  .nav-links {
    display: none;
  }

  .nav-container {
    justify-content: space-between;
  }
}

@media screen and (max-width: 768px) {
  .cart-icon {
    width: 26px;
    height: 26px;
  }
}

@media screen and (max-width: 686px) {
  .image-gallery {
    margin-left: 0px;
  }

  .product-info {
    margin: 0;
    padding: 0 0 0 0px;
  }

  .avatar {
    width: 40px;
    height: 40px;
  }
}

@media screen and (max-width: 568px) {
  .nav-container {
    border: 0;
  }

  nav {
    padding: 0;
  }

  .thumbnail-container {
    display: none;
  }

  .product-details {
    width: 100%;
  }

  .main-image {
    display: block;
    width: 100%;
    height: 340px;
    max-width: none;
    border-radius: 0;
    cursor: auto;
  }

    .previous-button, .next-button {
      display: block; 
    }

  h2 {
    font-size: 32px;
  }

  .product-description {
    font-size: 16px;
    width: 100%;
    text-align: balance;
  }

  .profile-container {
    gap: 30px;
  }

  .buttons-container {
    justify-content: center;
    align-items: center;
  }

  .quantity-button-container {
    width: 87%;
  }

  .add-to-cart {
    width: 87%;
  }

  .price-container {
    display: flex;
    justify-content: space-between;
  }

  .original-price-container {
    padding-right: 10px;
  }

  .product-details-container {
    padding: 0 30px;
  }

  .cart-container {
    width: 90%;
    min-height: 300px;
    left: 25px;
    top: 110px;
  }

  .cart-header {
    height: 80px;
  }

  .cart-title {
    padding-top: 25px;
    padding-left: 20px;
    font-size: 20px;
  }

  .cart-body {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }

  .cart-item {
    width: 86%;
  }

  .cart-image {
    width: 70px;
    height: 70px;
  }

  .cart-item-name {
    font-size: 22px;
    text-align: balance;
  }

  .cart-item-price {
    font-size: 20px;
  }

  .cart-item-total {
    font-size: 20px;
  }

  .remove-icon {
    width: 20px;
    height: 20px;
  }

  .checkout-button {
    font-size: 20px;
    width: 86%;
    padding: 22px 0
  }

  .lightbox-container {
    display: none;
  }
}


@media screen and (max-width: 414px) {
    .product-info {
        padding: 0 0px;
    }

    .original-price-container {
        padding-right: 5px;
    }

      .cart-body {
        gap: 10px
      }

      .cart-item-name {
        font-size: 18px;
      }
    
      .cart-item-price {
        font-size: 16px;
      }
    
      .cart-item-total {
        font-size: 16px;
      }
}